<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./img/weather02-512.webp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}        
        
        <div class="about">
            <div class="image">
                <img src="./img/IMG_20220123_175600_529.jpg" alt="">
            </div>
           
            <div class="quote-wrapper">
                <blockquote class="text">
                    <p>
                        I am a MEAN Stack Developer with 1.5 years of commercial experience, 
                        I'm a AWS certified cloud practitioner 
                        I create successful websites that are fast, easy to use, 
                        and built with best practices.
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>