<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/weather02-512.webp">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/contact.css">
    <script src="https://smtpjs.com/v3/smtp.js"></script>  
    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="container">
            <form method="post" action="">
                <label for="name">Name</label>
                <input type="text" id="fname" name="name" placeholder="Your Name" required>

                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Your Email" required>

                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" placeholder="Your Subject" required>

                <label for="message">Message</label>
                <textarea id="message" name="message" placeholder="Write something.." style="height:90px"></textarea>

                <input type="submit" value="Submit">
            </form>
            </div>
    </div>
    {{>footer}}
    <script src="./js/contact.js"></script>
</body>
</html>