body {
  color: #333333;
  max-width: 650px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  color: #8888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
  background-image: linear-gradient(90deg, red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 250px;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
  width: 227px;
  border-radius: 12px 2px 2px 12px;
}

button {
  border: 1px solid #cccccc;
  color: #eeeeee;
  background-color: #8888;
  padding: 8px;
  border-radius: 2px 12px 12px 2px;
  cursor: pointer;
}

@media only screen and (max-width: 354px) {
  input {
    border: 1px solid #cccccc;
    width: 100%;
    border-radius: 4px;
    padding: 8px;
  }

  button {
    border: 1px solid #cccccc;
    color: #eeeeee;
    background-color: #8888;
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
  }
}

.wBox {
  margin-top: 16px;
  min-width: auto;
  background-color: #0000004b;
  border-radius: 20px;
  width: 292px;
  margin-right: 0px;
  padding: 16px;
  color: #ffffff;
}

.wBox2 {
  margin-top: 16px;
  min-width: auto;
  border-radius: 20px;
  margin-right: 0px;
  padding: 16px;
  padding-left: 0px;
  color: #00000082;
}

#mOne {
  margin-top: 0;
  color: #ffffff;
}

#mTwo,
#mThree {
  margin: 6px;
}

#u11 {
  display: flex;
}

#u11_img {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

img[src=""] {
  display: none;
}

.image {
  padding-right: 20px;
}

.quote-wrapper {
  position: relative;
  width: 90%;
}

.text {
  color: rgb(0, 0, 0);
  position: relative;
  margin: 15;
  margin-top: 50px;
}

.text p {
  font-size: 15px;
  font-style: italic;
  height: 100%;
  line-height: 1.25;
  padding: 0;
  text-align: center;
}

.quote-wrapper::before {
  content: "\201C";
  color: rgba(204, 204, 204, 0.459);
  font-family: sans-serif, serif;
  font-size: 270px;
  height: 82px;
  line-height: 1;
  opacity: 0.9;
  position: absolute;
  top: -80px;
  left: 0;
  z-index: 1;
}

@media (min-width: 850px) {
  .quote-wrapper {
    width: 100%;
  }
  .quote-wrapper::before {
    font-size: 300px;
  }
  .text p {
    font-size: 26px;
  }
}
